<div class="select">
  <div class="collapsible-wrap card no-pad" v-on-click-outside="close">
    <input type="checkbox" id="collapsible-select" v-model="open">
    <label for="collapsible-select">
      <span v-bind:class="{ placeholder: selectedOptionsText.length > 0 }">Select genres</span>
      <span v-if="selectedOptionsText.length > 0">{{selectedOptionsText}}</span>
    </label>
    <div class="collapsible-select-area">
      <ul>
        <li v-for="option in options">
          <input type="checkbox" :id="option.key" :value="option.key" v-on:click="selectToggle">
          <label :for="option.key">{{option.value}}</label>
        </li>
      </ul>
      <button class="btn--raised btn--accent" v-on:click="close">OK</button>
    </div>
  </div>

</div>
