<div class="select">
  <div class="collapsible-wrap card no-pad">
    <input type="checkbox" id="collapsible-select">
    <label for="collapsible-select">Select genres</label>
    <div class="collapsible-select-area">
      <ul>
        <li>
          <input type="checkbox" id="option-1">
          <label for="option-1">Safari</label>
        </li>
        <li>
          <input type="checkbox" id="option-2">
          <label for="option-2">Firefox</label>
        </li>
        <li>
          <input type="checkbox" id="option-3">
          <label for="option-3">Chrome</label>
        </li>
        <li>
          <input type="checkbox" id="option-4">
          <label for="option-4">Internet Explorer</label>
        </li>
        <li>
          <input type="checkbox" id="option-5">
          <label for="option-5">Opera</label>
        </li>
        <li>
          <input type="checkbox" id="option-6">
          <label for="option-6">Konqueror</label>
        </li>
        <li>
          <input type="checkbox" id="option-7">
          <label for="option-7">Mosaic</label>
        </li>
        <li>
          <input type="checkbox" id="option-8">
          <label for="option-8">Netscape</label>
        </li>
        <li>
          <input type="checkbox" id="option-9">
          <label for="option-9">Android browser</label>
        </li>
        <li>
          <input type="checkbox" id="option-10">
          <label for="option-10">Seamonkey</label>
        </li>

      </ul>
      <button class="btn--raised btn--accent">OK</button>
    </div>
  </div>

</div>
