<div class="select" v-bind:class="{ multiple: multiple }">
  <div class="collapsible-wrap card no-pad" v-on-click-outside="close">
    <input type="checkbox" :id="'collapsible-select-' + id" v-model="open">
    <label :for="'collapsible-select-' + id">
      <span v-bind:class="{ placeholder: selectedOptionsText.length > 0 }">{{ placeholder }}</span>
      <span v-if="selectedOptionsText.length > 0">{{selectedOptionsText}}</span>
    </label>
    <div class="collapsible-select-area">
      <ul>
        <li v-for="option in options">
          <input type="checkbox" :id="id + '-' + option.key" :value="option.key" v-on:click="selectToggle" ref="options">
          <label :for="id + '-' + option.key">{{option.value}}</label>
        </li>
      </ul>
    </div>
  </div>

</div>
