<div class="concerts">
  <div v-for="month in months">
    <h3 class="subtitle">{{month.name}}</h3>

    <div v-for="concert in month.concerts" class="collapsible-wrap card no-pad">
      <input type="checkbox" v-bind:id="'collapsible-' + concert.id">
      <label v-bind:for="'collapsible-' + concert.id">
        <span class="concert-title">{{concert.name}}</span>
        <span class="concert-date">{{concert.dateStart | formatDate}} <span v-if="concert.dateStart != concert.dateEnd"> - {{concert.dateEnd | formatDate}}</span></span>
        <span class="concert-venue">{{concert.venue}}</span>
      </label>
      <div class="collapsible-area">
        <ul v-if="concert">
          <li v-for="artist in concert.artists">
            {{artist}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" v-if="!loaded">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>

</div>
