<div class="container">
  <h1 class="mdc-typography--display1">Temporary Drawer</h1>
  <p class="mdc-typography--body1">Click the menu icon above to open.</p>
  <p class="mdc-typography--body1"><strong>Thank you for using <span class="text-primary package">{{package}}</span></strong></p>
  <p class="mdc-typography--body1">This project is running in <strong class="mode">{{mode}} mode</strong></p>
  <p class="mdc-typography--body1">Make sure to follow the project on <a v-bind:href="repo">GitHub</a> to stay up to date with the latest releases, or contribute to the broject by opening an issue or making a pull-request!</p>
</div>
