.drawer label {
  font-weight: bold;
  color: $primary;
  font-size: $font-big;
}

aside nav a.active {
  background: lighten($grey, 26%);
}

@media screen and (max-width: $media-tiny) {
  .drawer #nav--super-vertical-responsive + label {
    background-color: $primary;
    color: $off-white;
    padding: $space-small*1.3 $space-small;
  }
}
