<div class="drawer">
<input type="checkbox" id="nav--super-vertical-responsive" v-model="open">
<label for="nav--super-vertical-responsive">☰</label>
<aside class="nav--super-vertical g--2 g-m--3 g-s--6 g-t--12 no-margin-vertical">
  <div class="g--12 logo-area no-margin-vertical">
    <h4 class="color--accent no-margin-vertical">Koncert</h4>
  </div>
  <nav class="g--12 no-margin-vertical">
    <router-link v-for="link in links" :key="link.path" v-bind:to="link.path" v-bind:class="{'active' : $route.path == link.path}" @click.native="drawerLinkClickListener">
      {{link.name}}
    </router-link>
  </nav>
</aside>
</div>
