<div class="subscriptions g--10 m--1">
  <div class="fixed-content">
    <h2>Subscriptions</h2>
    <p>Receive a push notification whenever there's a new concert with your favorite band!</p>
    <form>
      <div class="search-input">
        <input type="search" placeholder="Search artists" @input="search($event.target.value)" ref="search" />
        <ul v-if="artistsSearchResult.length > 0" v-on-click-outside="close">
          <li v-for="artist in artistsSearchResult" @click="select(artist)">{{artist.name}}</li>
        </ul>
      </div>
      <button class="btn--raised btn--accent" :disabled="buttonDisabled" @click="addSelected()">Add</button>
    </form>
  </div>
  <ul class="subscriptions-list">
    <li>Artist 1</li>
    <li>Artist 2</li>
    <li>Artist 3</li>
    <li>Artist 4</li>
    <li>Artist 5</li>
    <li>Artist 6</li>
    <li>Artist 7</li>
    <li>Artist 8</li>
    <li>Artist 9</li>
    <li>Artist 10</li>
    <li>Artist 11</li>
    <li>Artist 12</li>
  </ul>
</div>
